<header>
  <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
</header>
<body>
  <div class="top">
    <div class="layover">
      <button>About</button>
      <button>Personal Training</button>
      <button>Blog</button>
      <button>Contact</button>
      <div class="landing-moto__wrapper">
        <div class="landing-moto">
          KEEP YOUR BODY
          <br>
          FIT & STRONG
        </div>
        <div class="landing-moto__subtitle">Oscar Junior</div>
      </div>
    </div>
  </div>

</body>

